.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.45);
  backdrop-filter: blur(3px);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

.custom-modal {
  background: white;
  width: 500px;
  max-width: 95%;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0,0,0,.15);
}